<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<h1>
    PRODUCT ALREADY EXISTS.
</h1>
<form method='post' action='/return'>
    <button name = "okay" type="submit" value="ok"> Okay </button>

</form>


</body>
</html>